.item1 {
  padding: 120px 0;
}

.item2 {
  background-color: var(--gray-color5);
  padding: 120px 0;
}

.item1__text {
  margin: 5% 0 120px 100px;
}

.item2__text {
  margin: 5% 100px 120px 0;
  text-align: right;
}

.text-header {
  font-family: var(--font-montserrat);
  font-size: var(--common1-font-size);
  font-weight: var(--fontMon-medium);
  color: var(--main-color);
}

.text-title {
  max-width: 285px;
  font-size: var(--big1-font-size);
  line-height: 1.2;
  margin-bottom: 40px;
  margin-top: 40px;
}

.text-title2 {
  max-width: 235px;
  font-size: var(--big1-font-size);
  line-height: 1.2;
  margin-left: 55%;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: end;
}

.text-title2:hover{
  cursor: pointer;
  color: var(--gray-color3);

}

.text-des2:hover {
  cursor: pointer;
  color: var(--main-color);
}

.text-title:hover{
  cursor: pointer;
  color: var(--gray-color3);

}

.text-des:hover {
  cursor: pointer;
  color: var(--main-color);
}

.title3 {
  max-width: 155px;
}

.text-des {
  font-weight: var(--fontNoto-light);
  line-height: 1.56;
  font-size: var(--common-font-size);
}

.text-des2 {
  margin-left: 10%;
  max-width: 500px;
  font-size: var(--common-font-size);
  font-weight: var(--fontNoto-light);
  line-height: 1.56;
}

@media (max-width: 736px) {
  .item1,
  .item2 {
    padding: 0;
  }

  .row .col {
    margin: 0;
  }

  .item2-wrap .row{
    flex-direction: column-reverse;
  }

  .item1__text,
  .item2__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px 40px 40px;

  }

  .text-des2 {
    font-weight: var(--fontNoto-light);
    line-height: 1.56;
    text-align: center;
    margin-left: 0%;
    font-size: var(--mobile-text-size);
  }

  .text-des {
    text-align: center;
    font-size: var(--mobile-text-size);
  }

  .text-header {
    font-family: var(--font-montserrat);
    font-size: var(--common1-font-size);
    font-weight: var(--fontMon-medium);
    color: var(--main-color);
    margin-top: 30px;
  }

  .text-title {
    max-width: 285px;
    font-size: var(--common-font-size);
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
  }

  .text-title2 {
    max-width: 285px;
    margin-left: 0%;
    font-size: var(--common-font-size);
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
  }

}

@media (min-width: 1045px) and (max-width: 1239px) {
  .item1__text span,
  .item2__text span {
    width:100%;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
     display: -webkit-box;
  }

  .item1,
  .item2 {
    padding: 50px 0 0 0;
  }

  .item1__text {
    margin: 5% 0 120px 100px;
  }

  .item2__text {
    margin: 5% 100px 120px 0;
    text-align: right;
  }

  .text-header {
    font-family: var(--font-montserrat);
    font-size: var(--common1-font-size);
    font-weight: var(--fontMon-medium);
    color: var(--main-color);
  }

  .text-title {
    max-width: 285px;
    font-size: var(--big1-font-size);
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .text-title2 {
    max-width: 270px;
    font-size: var(--big1-font-size);
    line-height: 1.2;
    margin-left: 45%;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: right;
  }

  .text-title2:hover{
    cursor: pointer;
    color: var(--gray-color3);

  }

  .text-des2:hover {
    cursor: pointer;
    color: var(--main-color);
  }

  .text-title:hover{
    cursor: pointer;
    color: var(--gray-color3);

  }

  .text-des:hover {
    cursor: pointer;
    color: var(--main-color);
  }

  .title3 {
    max-width: 155px;
  }

  .text-des {
    font-weight: var(--fontNoto-light);
    line-height: 1.56;
    font-size: var(--common-font-size);
  }

  .text-des2 {
    margin-left: 0;
    max-width: 500px;
    font-size: var(--common-font-size);
    font-weight: var(--fontNoto-light);
    line-height: 1.56;
  }

}
